body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #62374e;
}

/* Colors Used: #62374e #fdc57b */
.sq1{
    background-color:#fdc57b ;
    height: 50px;
}
.sq2{
    background-color:#fdc57b ;
    height: 50px;
}
.sq3{
    background-color:#fdc57b ;
    height: 50px;
}
.sq4{
    background-color:#fdc57b ;
    height: 50px;
}
